<!DOCTYPE html>
<html lang="en">
<head style="background-color: black;">
	<meta charset="utf-8">
	<title>Document</title>
	<link rel="stylesheet" href="estilos.css">
</head>
<body>
	<div class="header">
      <h1>Efecto depresivo</h1>
      <p style= "font-size: 1.9em;">Datos Curiosos</p>
    </div>
    <div class="menu">
        <a href="layout.html">Depresión</a>
    	<a href="Curiosidades.html">Soluciones curiosas</a>
    	<a href="experiencias.html">Experiencias</a>
    	<a href="sintomas.html">Sintomas</a>
    </div>
    <div class="contenido">
    	<div class="izquierda">
    		<div class="item" >
    			<h2>Algunos signos y síntomas frecuentes en la depresión son:</h2>
    			<h5 style="font-size: 1.3em; color: #71C8D3;"> <p>Tristeza, ansiedad o sentimiento de vacío persistentes<hr>
Pérdida de interés en actividades que antes producían placer, incluyendo la actividad sexual<hr>
Fatiga o pérdida de energía<hr>
Pérdida de apetito (pérdida de peso) o aumento del apetito (aumento del peso)<hr>
Problemas para dormir, insomnio, problemas para mantener el sueño o dormir demasiado<hr>
Pérdida de la expresión emocional (emociones aplanadas)<hr>
Sentimiento de desesperanza, pesimismo, culpa o inutilidad<hr>
Retraimiento social<hr>
Problemas para concentrarse, recordar o tomar decisiones<hr>
Irritabilidad<hr>
Problemas físicos persistentes como jaquecas o cefaleas, problemas digestivos, dolor crónico, que no responden al tratamiento
Pensamientos o ideación suicida, intentos de suicidio o auto-lesiones.</p></h5>
    			<img src="solar.png" alt="" class="imagen">
    		</div>
    		
    	</div>
    	<div class="derecha" style="margin-left: 41px">
    		<div class="item">
    			<h2 style="color: #FBF812;">Información</h2>
                   <p style="color: purple;">
                   	"Entre más largo el período de luz, mayor el sentimiento de bienestar general. Tenemos más energía, nos sentimos más activos, más creativos y felices".

Así que no sorprende que en invierno ocurra lo contrario.

Estudios llevados a cabo en la Universidad de Southampton, Inglaterra, revelan que la mayoría de los adultos, al menos 90%, experimentan cambios sutiles en el estado de ánimo, energía y sueño cuando cambia la estación.

Y en países como el Reino Unido, con sus marcados cambios estacionales, la industria pierde millones de horas laborales en los meses de invierno debido a la depresión invernal.

Muchos quizás reconocen ese sentimiento de falta de energía y motivación cuando debemos enfrentar un día gris y nublado. Pero la gente que sufre TAE realmente tiene sentimientos graves de depresión.

El TAE es un tipo de depresión grave y discapacitante porque evita que la persona funcione de forma normal.

Y su causa principal es la oscuridad, señala la doctora Natasha Bijlani, psiquiatra del Hospital Priory en Inglaterra.

"Los inviernos con menos luz provocan más casos de TAE. Excepto cuando nieva porque la nieve refleja la luz que hay y esto reduce la oscuridad" explicó a la BBC.</p>
    			<img src="sol.jpg" alt="" width="350px">
    		</div>
    		
    	</div>
    </div>
    <div class="footer" style="margin-top: 1100px;">
                <h2>&copy; 2019</h2>
    </div>
</body>
</html>