<!DOCTYPE html>
<html lang="en">
<head style="background-color: black;">
	<meta charset="utf-8">
	<title>Document</title>
	<link rel="stylesheet" href="estilos.css">
</head>
<body>
	<div class="header">
      <h1>Experiencias depresivas</h1>
      <p style= "font-size: 1.9em;">La experiencia</p>
    </div>
    <div class="menu">
      <a href="layout.html">Depresión</a>
    	<a href="Curiosidades.html">Soluciones curiosas</a>
    	<a href="experiencias.html">Experiencias</a>
    	<a href="sintomas.html">Sintomas</a>
    </div>
    <div class="contenido">
    	<div class="izquierda">
    		<div class="item" >
    			<h2 style="color: #8514DD;">"Se trastorna tu mundo"</h2>
    			<h5 style="font-size: 1.3em; color: #350858;"> <p>Sufrí de depresión a partir de los 15 años hasta los 20 años, es algo horrible, se trastorna todo tu mundo, cada parte de tu vida y cómo te desenvuelves en la sociedad se afecta", cuenta Jennifer desde Colombia.</p>"La solución fue buscar ayuda psicológica, refugiarme en mi familia, practicar deportes, leer y las actividades lúdicas, comencé a conocer e interactuar con más personas porque te encierras y el abismo se hace mucho más grande", explica. <p>"La solución fue buscar ayuda psicológica, refugiarme en mi familia, practicar deportes, leer y las actividades lúdicas, comencé a conocer e interactuar con más personas porque te encierras y el abismo se hace mucho más grande", explica.</p></h5>
    			<img src="fondo6.jpeg" alt="" class="imagen" width="200px">
    		</div>
    	</div>
    	<div class="derecha" style="margin-left: 41px">
    		<div class="item">
    			<h2 style="color: #18638E;">Información</h2>
                <p style="color: purple;">
                    <p>Nunca en mi vida he escrito un diario personal. Hasta hace relativamente poco tiempo guardaba celosamente en secreto todo lo relativo a mi salud mental. Entonces, ¿Por qué he comenzado a escribir sobre la depresión desde mi propia experiencia? ¿Para qué explicarle al mundo mi vida? ¿Qué sentido puede tener exponerme al escrutinio de los demás, más ahora que me encuentro mejor?</p>
                   <p>La respuesta a todas estas dudas es, al menos para mí, muy simple: lo hago por necesidad. Compartir mi experiencia con los demás me ayuda a otorgarle un sentido a lo vivido. Me sirve creer que puede ser útil para alguien más lo que he aprendido. Conozco, porque me ha tocado vivirlo, qué es atravesar una depresión, qué significa ser etiquetado, cómo sobrevivir a las propias tormentas y qué puede ser útil para recuperarse.</p>
                   <p>Además, me resulta asombrosa la ignorancia popular en torno a la depresión. Fuera del mundo de la salud mental la gran mayoría de personas que no la han experimentado o no trabajan con ella no saben qué es, cómo puede afectarte, cuáles son sus manifestaciones ni, por supuesto, qué hacer para enfrentarla. Y esta ignorancia es particularmente llamativa, ya que actualmente la depresión es una de las patologías más frecuentes en el mundo. En este sentido, según la Organización Mundial de la Salud, hay 350 millones de personas que están pasando una depresión, es la principal causa de discapacidad en el mundo y está detrás de la mayoría de los 800.000 suicidios que se producen cada año.</p>
                   <p>Quizás, quienes estáis interesados en estos temas podáis apuntarme que en los últimos años la depresión ha comenzado a aparecer en la agenda pública y en las políticas sanitarias. Esto es verdad, pero el motivo principal no tiene nada que ver con nuestra salud o calidad de vida, sino con su impacto económico. Hay estudios que afirman que los problemas de salud mental se llevan entre el 3% y 4% del PIB de la UE. Esto es preocupante para los Estados y sus políticas sanitarias. Ahora bien, todos estos números, y lo que significan para las personas reales que encarnamos las estadísticas, no son conocidos por la población general.</p>
                   <p>Y la ignorancia no es inocua. En el terreno de la salud mental no saber qué te sucede ni qué esperar de la vida una vez que recibes el diagnóstico, no ser comprendido o, incluso, ser rechazado por los demás, son factores que te pueden hacer sufrir incluso más que los propios síntomas y que dificultan mucho la recuperación.</p>
                   <p>¿Cómo puede algo tan usual como la depresión, o los trastornos mentales en general, ser tan poco comprendidos por la población general? Porque en nuestra sociedad todavía se habla poco, y muy mal, de estos temas. También por ello quiero compartir mi experiencia. Quizás las pocas palabras que escribo desde este Blog puedan servir, al menos mínimamente, para modificar esta situación.</p>
                </p>
    			<img src="fondo5.jpg" alt="" width="350px">
    		</div>
    		
    	</div>
    </div>
    <div class="footer">
                <h2>&copy; 2019</h2>
    </div>
</body>
</html>