<!DOCTYPE html>
<html lang="en">
<head style="background-color: black;">
	<meta charset="utf-8">
	<title>Document</title>
	<link rel="stylesheet" href="estilos.css">
</head>
<body>
	<div class="header">
      <h1>Caracteristicas depresivas</h1>
      <p style= "font-size: 1.9em;">¿Cuáles son los signos y síntomas de la depresión?
</p>
    </div>
    <div class="menu">
        <a href="layout.html">Depresión</a>
    	<a href="Curiosidades.html">Soluciones curiosas</a>
    	<a href="experiencias.html">Experiencias</a>
    	<a href="sintomas.html">Sintomas</a>
    </div>
    <div class="contenido">
    	<div class="izquierda">
    		<div class="item" >
    			<h2 style="color: #709DB6;">
Algunos signos y síntomas frecuentes en la depresión son:</h2>
    			<h5 style="font-size: 1.3em; color: #42AAC9;"> <p>Tristeza, ansiedad o sentimiento de vacío persistentes<hr>
Pérdida de interés en actividades que antes producían placer, incluyendo la actividad sexual<hr>
Fatiga o pérdida de energía<hr>
Pérdida de apetito (pérdida de peso) o aumento del apetito (aumento del peso)<hr>
Problemas para dormir, insomnio, problemas para mantener el sueño o dormir demasiado<hr>
Pérdida de la expresión emocional (emociones aplanadas)<hr>
Sentimiento de desesperanza, pesimismo, culpa o inutilidad<hr>
Retraimiento social<hr>
Problemas para concentrarse, recordar o tomar decisiones<hr>
Irritabilidad<hr>
Problemas físicos persistentes como jaquecas o cefaleas, problemas digestivos, dolor crónico, que no responden al tratamiento
Pensamientos o ideación suicida, intentos de suicidio o auto-lesiones.<hr></p></h5>
    			<img src="agua.png" alt="" class="imagen" width="200px">
    		</div>
    	</div>
    	<div class="derecha" style="margin-left: 41px">
    		<div class="item">
    			<h2 style="color: #5015EC;">Información</h2>
                <p style="color: purple;">
                   Las causas de la depresión son variadas, pero la bioquímica puede ayudar a explicar algunos casos. Las personas deprimidas muestran niveles muy altos de cortisol (una hormona) y de varios agentes químicos que actúan en el cerebro, como los neurotransmisores serotonina, dopamina y noradrenalina. Estos niveles pueden estar elevados por motivos hereditarios. Explicaciones dadas al origen familiar de la depresión son que los niños reciban una visión triste del mundo por el comportamiento de sus padres, o crecer en un ambiente que no es totalmente enriquecedor.

Respecto a la depresión que no está causada por motivos familiares, las pérdidas emocionales muy profundas pueden causar cambios bioquímicos que impulsen la depresión. Estos cambios pueden provocar la enfermedad no de una forma inmediata, sino más adelante. Otros factores pueden ser la pérdida de un trabajo, o la falta de capacidad de adaptación a determinados cambios. A pesar de que no se sabe exactamente qué provoca la depresión existen diversos factores identificados como los desequilibrios de los neurotransmisores del cerebro. Los fármacos antidepresivos pueden ayudar a solucionar este problema.
                </p>
    			<img src="agua2.jpg" alt="" width="350px">
    		</div>
    		
    	</div>
    </div>
    <div class="footer" style="margin-top: 1120px;">
                <h2>&copy; 2019</h2>
    </div>
</body>
</html>